<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-5 tw-bold">Nuevo Ususario</h2>
        <form class="col-lg-6 mx-auto mb-4">
            <input type="password" placeholder="ID"/>
            <input type="text" placeholder="Nombre Completo"/>
            <input type="email" placeholder="name@example.com"/>
            <label for="Rol">Rol</label>
            <select name="Rol" id="Rol">
                <option value="Admin">Admin</option>
                <option value="Operario">Operario</option>
            </select>
            <input type="text" placeholder="Rol"/>
            <span>Los campos marcados con * son obligatoios</span>
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Guardar</button>
        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>

idEmpl = idEmpl;
this.nameEmpl = nameEmpl;
this.emailEmpl = emailEmpl;
this.roleEmpl