<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container my-4 mt-3 px-4 py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-6 bg-white px-6">
                <img src="img/login.png" class="d-block mx-auto mb-4 text-center mt-4" height="100" alt="Login"/>
                <h2 class="fs-1 tw-bold text-center mb-4">Ingreso</h2>
            <form>
                <div class="mb-4">
                    <input type="email" class="form-control mb-3" placeholder="Correo: name@example.com"/>
                    <input type="password" class="form-control mb-3" placeholder="Password"/>
                </div>
                   <div class="form-check mb-4 mt-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Recordarme
                        </label>
                    </div>
                    <div class="d-grid gap-2 mb-4">
                        <button class="btn btn-info" type="submit">Ingresar</button>
                    </div>
                <div class="d-grid gap-2">
                </div>
            </form>
            </div>
            <span class="text-center">¿Olvidaste tu contraseña?</span>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>