<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Title</title>
</head>
<body>
<nav class="navbar bg-info fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FisiOnline</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-info">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FisiOnline</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-info">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Empresas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Transacciones
            </a>
            <ul class="dropdown-menu bg-info">
              <li><a class="dropdown-item bg-info" href="#">Ingresos</a></li>
              <li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item bg-info" href="#">Gastos</a></li>
              </li>
            </ul>
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" href="#"> Cerrar Sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-4 bg-white mt-4">
          <h4 class="text-center mt-4 mb-4">Sistema de Gestión de Ingresos y Gastos</h4>
          <h3 class=" tw-bold mt-4 py-3 text-center">Transacciones</h3>
          <div class="row">
            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header bg-info">
                  INGRESOS
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-3 mb-3">Total Ingresos</h5>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div>
                  <a href="#" class="btn btn-info mt-2">Nuevo Ingreso</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header bg-info">
                  GASTOS
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-3 mb-3">Total Gastos</h5>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div>
                  <a href="#" class="btn btn-info mt-2">Nuevo Gasto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>